
node_modules/
npm-debug.log*

yarn.lock
pnpm-lock.yaml


dist/
build/
.vite/
.next/
coverage/
*.tsbuildinfo


.env
.env.local
**/.env
**/.env.*
!.env.example
!**/.env.example
!**/.env.*.example


.husky/_/
.vercel/
.netlify/


cypress/videos/
cypress/screenshots/

.DS_Store
Thumbs.db
desktop.ini
*.log
.vscode/
.idea/
